{{template "header"}}
{{template "nav"}}

<h2>Audio Requests</h2>

<h3>Total Played Today {{.TotalPlayedSounds}}</h3>

<section id="audio-requests" class="flex-container">
	<ul>
		{{ range .MostPopular }}
			<li>
			{{ .Name }} with {{ .Total }} plays.
			</li>
		{{ end }}
	</ul>
</section>
