{{template "header" .}}
{{template "nav" .}}

<h3>Stylish Users</h3>
<ul>
{{ range .StylishUsers }}
  <li>
      <a href="{{$.Domain}}/users/{{.}}{{$.Extension}}">
        {{.}} 
      </a> 
  </li>
  <br />
{{ end }}
</ul>

<div class="flex-container">

  <div class="flex-left">
    <h3>Commands</h3>
    <ul>
      {{ range .Commands }}
        <li>
            <a href="{{$.Domain}}/commands/{{.Name}}{{$.Extension}}">
              {{ .Name }} 
            </a> 
            <br/>
            <b>Cost:</b> {{ .Cost }}
        </li>
        <br />
      {{ end }}
    </ul>
  </div>

  <div class="flex-right">
    <h3>Users</h3>
    <ul>
    {{ range .Players }}
      <li>
          <a href="{{$.Domain}}/users/{{.Name}}{{$.Extension}}">
            {{.Name}} 
          </a> 
          <b>Street Cred:</b> {{ .StreetCred }} |
          <b>Cool Points:</b> {{ .CoolPoints }}
      </li>
      <br />
    {{ end }}
    </ul>
  </div>
</div>
