<!DOCTYPE html>
<!--OHHHH WHOOPS, JUST DROPPED MY MONSTER CONDOM THAT I USE FOR MY MAGNUM DONG-->

<head>
  <meta charset="UTF-8">
  <style>
    @font-face {
      font-family: 'textileregular';
      src: url('fonts/textile-webfont.eot');
      src: url('fonts/textile-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/textile-webfont.woff2') format('woff2'),
        url('fonts/textile-webfont.woff') format('woff'),
        url('fonts/textile-webfont.ttf') format('truetype'),
        url('fonts/textile-webfont.svg#textileregular') format('svg');
      font-weight: normal;
      font-style: normal;

    }

    body {
      background: black;
      margin: 0;
      padding: 0;
    }

    .text {
      font-family: 'textileregular';
      color: white;
      border: none;
      line-height: 1.5;
      margin: 0 auto;
      font-size: 4em;
      text-align: center;
    }

    .button {
      display: none;
      border: 1px white solid;
      position: fixed;
      bottom: 100px;
      right: 70px;
      color: white;
      padding: 24px;
      font-size: 24px;
      border-right-width: 4px;
      border-bottom-width: 4px;
      border-radius: 4px;
      font-family: 'textileregular';
      cursor: pointer;
    }

    .visible {
      display: block;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }
  </style>
</head>

<body>
  <div class='container'>
    <div class='text'>
      "{{ .Title }}"
    </div>
  </div>

</body>
