{{template "header" .}}
{{template "nav" .}}

<h2>Users</h2>

<ul>
  {{ range .Players }}
    <li>
        <a href="{{$.Domain}}/users/{{.Name}}{{$.Extension}}">
          {{.Name}} 
        </a> 

        <b>Mana:</b> {{ .Mana }} |
        <b>Street Cred:</b> {{ .StreetCred }} |
        <b>Cool Points:</b> {{ .CoolPoints }}
      {{ if .Streamlord }}
        | <b>Stream Lord:</b> {{ .Streamlord }}
      {{ end }}
    </li>
    <br />
  {{ end }}
</ul>
