body {
  color:  #555b6e;
  font-size: 2em;
  font-family: "Helvetica";
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1 {
  color:  #555b6e;
  text-align: center;
}

p {
  color:  #555b6e;
  font-family: futura;
  font-style: bold;
}

a {
  color: #161a1d;
}