body {
  background-color: white;
  font-family: Times New Roman;
  color: black;
}

h1:after {
  font-size: 32px;
  content:  "hey";
  content: '404 Not Found';
  visibility: visible;
  display: block;
  color: black;
  margin-top: -80px;
}

hr:nth-of-type(1) {
  display: none;
}
hr:nth-of-type(2) {
  display: none;
}

hr {
  margin-top: -24px;
}

body:after {
  content: "nginx/1.10.3 (Arch btw)";
  font-family: Times New Roman;
  color: black;
  font-size:16px;
  text-align: center;
  display: block;
  width: 100wh;
  margin-top: -8px;
}

ul {
  display: none;
}

div {
  display: none;
}

h2 {
  display: none;
}

h1 {
  visibility: hidden;
}
