@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --blue: rgb(55, 95, 192);
    --pink: rgb(255, 48, 79);
}

html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

body {
    background-color: var(--blue);
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0;
    padding-bottom: 1rem;
}

body > * {
    order: 2;
}

body .flex-container {
    grid-column: span 2;
    margin-bottom: .75rem;
}

body .flex-container .flex-left {
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding-bottom: 1rem;
}

nav a {
    text-decoration: none;
    text-transform: lowercase;
    color: var(--blue);
    border-bottom: solid transparent 3px;
    transition: border-bottom-color .4s;
    font-size: 1.5rem;
}

nav a:hover {
    border-bottom-color: var(--pink);
}

/* Remove add css notice */
body > .flex-container > .flex-right {
    display: none;
}

body h1 {
    grid-column: span 2;
    padding-bottom: .75rem;
    margin: 0;
    background-color: black;
}

body h1 a {
    text-decoration: none;
    color: rgb(255, 48, 79);
    font-family: "Archivo Black";
    font-size: 2.5rem;
}

body h1::before, body h1::after {
    content: '';
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/814/814513.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    animation: 3s infinite linear rotate;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

body h1::before {
    padding-right: 1rem;
}

body h1::after {
    padding-left: 1rem;
}

body > h2 {
    margin: 0;
}

hr {
    display: none;
}

body > h2:not(:nth-child(5)):not(:nth-child(10)) {
    background: black;
    padding: 1rem;
    grid-column: 1;
    margin-right: .4rem;
    margin-left: 1rem;
}

body > h2:nth-child(6)::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/725/725037.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 2rem;
}

body > h2:nth-child(7)::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/2910/2910046.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 2rem;
}

body > h2:nth-child(8) {
    align-self: start;
}

body > h2:nth-child(8)::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("https://www.flaticon.com/premium-icon/icons/svg/2985/2985980.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 2rem;
}

body > h2:nth-child(10) {
    grid-column: 2;
    grid-row: 4;
    padding: 1rem;
    margin-left: .4rem;
    background: black;
    margin-right: 1rem;
}

body > ul {
    grid-column: 2;
    grid-row: 5;
    margin: 0;
    margin-left: .4rem;
    background: black;
    padding-bottom: .5rem;
    list-style-type: none;
    padding-left: 1rem;
    margin-right: 1rem;
}

body > ul li::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/833/833472.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: 0.5s infinite linear pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

body > ul a {
    text-decoration: none;
    color: var(--blue);
    border-bottom: solid transparent 3px;
    transition: border-bottom-color .4s;
    padding-bottom: 0.2rem;
}

body > ul li {
    margin-bottom: 0.5rem;
}

body > ul a:hover {
    border-bottom-color: var(--pink);
}

figure {
    background: black;
    padding: 1rem;
    margin: 0;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 0.4rem;
}

figure:nth-child(odd) {
    margin-left: 1rem;
    margin-right: 0.4rem;
}

figure figcaption {
    margin-bottom: 1rem;
}

figure figcaption a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: solid transparent 3px;
    transition: border-bottom-color .4s;
}

figure figcaption a:hover {
    border-bottom-color: var(--pink);
}


/* Move username all the way up */
body > :nth-child(5) {
    grid-column: span 2;
    order: 1;
    display: flex;
    justify-content: center;
    color: var(--pink);
    font-family: "Archivo Black";
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
    background-color: black;
}

body > :nth-child(5)::after {
    content: '\'s';
    display: inline-block;
}