body {
  color: #D8DAE7 !important;
  background-color: #0D0C1C !important;
  font-size: 2em;
  font-family: "Helvetica";
}
h1 {
  color: #18CAE6;
  text-align: center;
}
h1::after {
  content: " TRON Edition";
}

p {
  color: white;
  font-style: bold;
}

a {
  color: #18CAE6;
  text-decoration: none;
}
a::before {
  content: "⦾ ";
  color: orange;
}

figure {
  background-color: transparent;
  border-radius: 5px;
  padding: 4px;
}

audio {
  padding-top: 6px;
  background-color: transparent;
}

hr {
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-name: hrslidein;
}

@keyframes hrslidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}